@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Web App</h1>
        <p>Watch Video <a href="https://www.youtube.com/watch?v=rMfugUZD2dA">YouTube Link</a>.</p>
</div>
